# Introduction

The goal from the visualization of this dataset is to gather insights by answering question.

### Key questions to answer

# Importing necessary libraries

In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import warnings
warnings.filterwarnings("ignore")

# Loading data

In [5]:
df = pd.read_csv("StudentPerformance.csv")
df.head()

,Hours Studied,Previous Scores,Extracurricular Activities,Sleep Hours,Sample Question Papers Practiced,Performance Index
0,7,99,Yes,9,1,91.0
1,4,82,No,4,2,65.0
2,8,51,Yes,7,2,45.0
3,5,52,Yes,5,2,36.0
4,7,75,No,8,5,66.0

# Quick data overview

# Dealing with NULL values

# Simplify dataset

# Save cleaned data to use later for dahsboard

In [4]:
# df.to_csv("")

# Visualization