# Introduction

In this dataset, we will try to answer a few question during the EDA process.

### Key questions to answer

# Importing necessary libraries

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import warnings
warnings.filterwarnings("ignore")

# Loading data

In [5]:
df = pd.read_csv("top_1000_most_swapped_books.csv")
df.head()

,id,title,author,genre,language,publicationYear,publisher,description,pageCount,tags,rating_average,most_popular_country,bestseller_status,awards,age_category,adapted_to_movie,movie_release_year,isbn
0,1,Harry Potter and the Sorcerer's Stone,J.K. Rowling,Fantasy,English,1997,Bloomsbury,A young wizard discovers his magical heritage ...,309,"magic,school,adventure",4.89,UK,True,"Smarties Prize,British Book Award",Children,True,2001.0,978-0747532743
1,2,To Kill a Mockingbird,Harper Lee,Southern Gothic,English,1960,J.B. Lippincott & Co.,A lawyer in the Depression-era South defends a...,281,"classic,law,racism,history",4.85,USA,True,Pulitzer Prize,Adult,True,1962.0,978-0061120084
2,3,1984,George Orwell,Dystopian,English,1949,Secker & Warburg,A dystopian social science fiction novel and c...,328,"politics,scifi,totalitarianism",4.80,UK,True,Prometheus Hall of Fame,Adult,True,1984.0,978-0451524935
3,4,The Great Gatsby,F. Scott Fitzgerald,Tragedy,English,1925,Charles Scribner's Sons,A story of the fabulously wealthy Jay Gatsby a...,180,"classic,wealth,romance,jazz age",4.40,USA,True,None,Adult,True,2013.0,978-0743273565
4,5,The Hobbit,J.R.R. Tolkien,Fantasy,English,1937,George Allen & Unwin,"Bilbo Baggins, a hobbit, is swept into an epic...",310,"adventure,dragons,magic",4.75,UK,True,Keith Barker Millennium Book Award,Children,True,2012.0,978-0547928227

# Quick data overview

In [6]:
df.describe()

,id,publicationYear,pageCount,rating_average,movie_release_year
count,990.000000,990.000000,990.000000,990.000000,642.000000
mean,502.079798,1962.996970,378.904040,4.061949,1997.704050
std,289.286296,195.433466,190.567626,0.241120,22.531925
min,1.000000,-750.000000,22.000000,3.140000,1926.000000
25%,252.250000,1965.250000,256.000000,3.920000,1987.000000
50%,503.500000,1997.000000,341.500000,4.070000,2005.000000
75%,752.750000,2010.000000,452.750000,4.220000,2015.000000
max,1003.000000,2023.000000,1463.000000,4.950000,2025.000000

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 990 entries, 0 to 989
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    990 non-null    int64
 1   title                 990 non-null    object
 2   author                990 non-null    object
 3   genre                 990 non-null    object
 4   language              990 non-null    object
 5   publicationYear       990 non-null    int64
 6   publisher             990 non-null    object
 7   description           990 non-null    object
 8   pageCount             990 non-null    int64
 9   tags                  990 non-null    object
 10  rating_average        990 non-null    float64
 11  most_popular_country  990 non-null    object
 12  bestseller_status     990 non-null    bool
 13  awards                986 non-null    object
 14  age_category          990 non-null    object
 15  adapted_to_movie      990 non-null    bool
 16  movie_release_year    642 non-null    float64
 17  isbn                  990 non-null    object
dtypes: bool(2), float64(2), int64(3), object(11)
memory usage: 125.8+ KB

In [8]:
df.columns

Index(['id', 'title', 'author', 'genre', 'language', 'publicationYear',
       'publisher', 'description', 'pageCount', 'tags', 'rating_average',
       'most_popular_country', 'bestseller_status', 'awards', 'age_category',
       'adapted_to_movie', 'movie_release_year', 'isbn'],
      dtype='object')

In [9]:
df.isna().sum()

id                        0
title                     0
author                    0
genre                     0
language                  0
publicationYear           0
publisher                 0
description               0
pageCount                 0
tags                      0
rating_average            0
most_popular_country      0
bestseller_status         0
awards                    4
age_category              0
adapted_to_movie          0
movie_release_year      348
isbn                      0
dtype: int64

In [10]:
df.duplicated().sum()

0

# Dealing with NULL values

# Simplify dataset

# Save cleaned data to use later for dahsboard

In [2]:
# df.to_csv("")

# Visualization