# Introduction

In this dataset, we will try to answer a few question during the EDA process.

### Key questions to answer

# Importing necessary libraries

In [54]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import warnings
warnings.filterwarnings("ignore")

# Loading data

In [55]:
df = pd.read_csv("top_1000_most_swapped_books.csv")
df.head()

,id,title,author,genre,language,publicationYear,publisher,description,pageCount,tags,rating_average,most_popular_country,bestseller_status,awards,age_category,adapted_to_movie,movie_release_year,isbn
0,1,Harry Potter and the Sorcerer's Stone,J.K. Rowling,Fantasy,English,1997,Bloomsbury,A young wizard discovers his magical heritage ...,309,"magic,school,adventure",4.89,UK,True,"Smarties Prize,British Book Award",Children,True,2001.0,978-0747532743
1,2,To Kill a Mockingbird,Harper Lee,Southern Gothic,English,1960,J.B. Lippincott & Co.,A lawyer in the Depression-era South defends a...,281,"classic,law,racism,history",4.85,USA,True,Pulitzer Prize,Adult,True,1962.0,978-0061120084
2,3,1984,George Orwell,Dystopian,English,1949,Secker & Warburg,A dystopian social science fiction novel and c...,328,"politics,scifi,totalitarianism",4.80,UK,True,Prometheus Hall of Fame,Adult,True,1984.0,978-0451524935
3,4,The Great Gatsby,F. Scott Fitzgerald,Tragedy,English,1925,Charles Scribner's Sons,A story of the fabulously wealthy Jay Gatsby a...,180,"classic,wealth,romance,jazz age",4.40,USA,True,None,Adult,True,2013.0,978-0743273565
4,5,The Hobbit,J.R.R. Tolkien,Fantasy,English,1937,George Allen & Unwin,"Bilbo Baggins, a hobbit, is swept into an epic...",310,"adventure,dragons,magic",4.75,UK,True,Keith Barker Millennium Book Award,Children,True,2012.0,978-0547928227

# Quick data overview

In [56]:
df.describe()

,id,publicationYear,pageCount,rating_average,movie_release_year
count,990.000000,990.000000,990.000000,990.000000,642.000000
mean,502.079798,1962.996970,378.904040,4.061949,1997.704050
std,289.286296,195.433466,190.567626,0.241120,22.531925
min,1.000000,-750.000000,22.000000,3.140000,1926.000000
25%,252.250000,1965.250000,256.000000,3.920000,1987.000000
50%,503.500000,1997.000000,341.500000,4.070000,2005.000000
75%,752.750000,2010.000000,452.750000,4.220000,2015.000000
max,1003.000000,2023.000000,1463.000000,4.950000,2025.000000

In [57]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 990 entries, 0 to 989
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    990 non-null    int64
 1   title                 990 non-null    object
 2   author                990 non-null    object
 3   genre                 990 non-null    object
 4   language              990 non-null    object
 5   publicationYear       990 non-null    int64
 6   publisher             990 non-null    object
 7   description           990 non-null    object
 8   pageCount             990 non-null    int64
 9   tags                  990 non-null    object
 10  rating_average        990 non-null    float64
 11  most_popular_country  990 non-null    object
 12  bestseller_status     990 non-null    bool
 13  awards                986 non-null    object
 14  age_category          990 non-null    object
 15  adapted_to_movie      990 non-null    bool
 16  movie_release_year    642 non-null    float64
 17  isbn                  990 non-null    object
dtypes: bool(2), float64(2), int64(3), object(11)
memory usage: 125.8+ KB

In [58]:
df.columns

Index(['id', 'title', 'author', 'genre', 'language', 'publicationYear',
       'publisher', 'description', 'pageCount', 'tags', 'rating_average',
       'most_popular_country', 'bestseller_status', 'awards', 'age_category',
       'adapted_to_movie', 'movie_release_year', 'isbn'],
      dtype='object')

In [59]:
df.isna().sum()

id                        0
title                     0
author                    0
genre                     0
language                  0
publicationYear           0
publisher                 0
description               0
pageCount                 0
tags                      0
rating_average            0
most_popular_country      0
bestseller_status         0
awards                    4
age_category              0
adapted_to_movie          0
movie_release_year      348
isbn                      0
dtype: int64

In [60]:
df.duplicated().sum()

0

In [61]:
for col in df.select_dtypes(exclude=[np.number]).columns:
    print("="*3+col+"="*3)
    print(f"number of unique values: {df[col].nunique()}")
    print(list(df.groupby(col).size().sort_values(ascending=False).head(5).index))

===title===
number of unique values: 990
['11/22/63', 'The Couple Next Door', 'The Crucible', 'The Cruel Prince', 'The Crying of Lot 49']
===author===
number of unique values: 555
['Stephen King', 'Terry Pratchett', 'Neil Gaiman', 'Michael Crichton', 'J.K. Rowling']
===genre===
number of unique values: 81
['Fantasy', 'Sci-Fi', 'Historical Fiction', 'Fiction', 'Thriller']
===language===
number of unique values: 13
['English', 'German', 'Japanese', 'French', 'Norwegian']
===publisher===
number of unique values: 297
['Doubleday', 'Knopf', 'Simon & Schuster', 'Viking', 'Little, Brown']
===description===
number of unique values: 990
['35 girls compete for the heart of a prince in a caste-based society.', 'Four best friends share a pair of jeans that fits them all perfectly over a summer.', 'Four famous siblings throw an epic party in 1983 Malibu that ends in fire.', 'Four friends are tormented by an anonymous stalker after their leader disappears.', 'Four seekers arrive at a notoriously unfriendly pile called Hill House.']
===tags===
number of unique values: 968
['humor,magic,discworld', 'mystery,kidnap,twist', 'animals,nature,classic', 'humor,space,satire', 'romance,enemies to lovers,humor']
===most_popular_country===
number of unique values: 39
['USA', 'UK', 'Canada', 'France', 'Ireland']
===bestseller_status===
number of unique values: 2
[True, False]
===awards===
number of unique values: 129
['None', 'Goodreads Choice Award', 'Pulitzer Prize', 'Locus Award', 'Goodreads Choice Nominee']
===age_category===
number of unique values: 3
['Adult', 'Young Adult', 'Children']
===adapted_to_movie===
number of unique values: 2
[True, False]
===isbn===
number of unique values: 986
['978-0062073556', '978-1501161933', '978-0593135204', '978-0140449068', '978-0593321201']

# Dealing with NULL values

```movie_release_year``` is a numerical column, we can fill the null values with the mean.

In [62]:
df["movie_release_year"] = df["movie_release_year"].fillna(round(df["movie_release_year"].mean(), 0))
df["movie_release_year"].isna().sum()

0

For the ```awards``` column, we can fill it out with the mode. Although not every book might earn an award.

In [63]:
df.groupby("awards").size().sort_values(ascending=False).head(5)

awards
None                        602
Goodreads Choice Award       43
Pulitzer Prize               29
Locus Award                  17
Goodreads Choice Nominee     16
dtype: int64

Seems like "None" is the most frequent.

In [64]:
df["awards"] = df["awards"].fillna("None")
df.isna().sum().sum()

0

# Simplify dataset

Some columns are not in their respected data type.

In [67]:
df["movie_release_year"] = df["movie_release_year"].astype("Int64")
df['bestseller_status'] = df['bestseller_status'].astype(bool)
df['adapted_to_movie']  = df['adapted_to_movie'].astype(bool)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 990 entries, 0 to 989
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    990 non-null    int64
 1   title                 990 non-null    object
 2   author                990 non-null    object
 3   genre                 990 non-null    object
 4   language              990 non-null    object
 5   publicationYear       990 non-null    int64
 6   publisher             990 non-null    object
 7   description           990 non-null    object
 8   pageCount             990 non-null    int64
 9   tags                  990 non-null    object
 10  rating_average        990 non-null    float64
 11  most_popular_country  990 non-null    object
 12  bestseller_status     990 non-null    bool
 13  awards                990 non-null    object
 14  age_category          990 non-null    object
 15  adapted_to_movie      990 non-null    bool
 16  movie_release_year    990 non-null    Int64
 17  isbn                  990 non-null    object
dtypes: Int64(1), bool(2), float64(1), int64(3), object(11)
memory usage: 126.8+ KB

# Drop unecessary columns

In [69]:
df.drop(["id", "description", "isbn", ], inplace=True, axis=1)
df.columns

Index(['title', 'author', 'genre', 'language', 'publicationYear', 'publisher',
       'pageCount', 'tags', 'rating_average', 'most_popular_country',
       'bestseller_status', 'awards', 'age_category', 'adapted_to_movie',
       'movie_release_year'],
      dtype='object')

# Save cleaned data to use later for dahsboard

In [ ]:
# df.to_csv("Cleaned Popular Books For Exchanging.csv")

# Visualization